{% extends "blog/main.html" %}

{% block title %}{{cat}}{% endblock title %}

{% block body %}
{% if category_posts %}
<div class="container">
  <h2>{{cat}} ({{category_posts | length}})</h2>
  <div class="row">
    {% for posts in category_posts%}
    <div class="col-lg-4 col-md-6 col-sm-12 my-3 ">
            <a href = {% url "detailview" posts.slug%}>
            <div class="card shadow-sm">
              <img src="{{posts.img.url}}"
                alt="{{posts.img.url}}">
              <div class="card-body">
                <h2 class="card-text">{{posts.title}}</h2>
                <small class="text-body-secondary pb-3">({{posts.category}})</small>
                <small class="text-body-secondary pb-3">Created by -{{posts.author}}</small>
                <p class="card-text">{{posts.body | safe |truncatechars:90}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-body-secondary">{{posts.created_at}}</small>
                </div>
              </div>
            </div>
          </a>
          </div>
          {% endfor %}
        </div>
      </div>
{% else %}
<div class="container m-auto p-4">
  <h1>Post of "{{cat}}"</h1>
  <p style="font-size: 40px; padding: 200px 5px;"> Posts not found!</p>

</div>   
{% endif %}
{% endblock body %}
