{% extends "blog/main.html" %}

{% block title %}{{blog.title}}{% endblock title %}
{% block head %}
<meta name="keywords" content="{{blog.tags}}">
<meta name="description" content="{{blog.body|safe|truncatechars:200}}">
<meta property="og:title" content="{{blog.title}}">
<meta property="og:url" content="https://admoha.com/{{blog.slug}}" >
<meta property="og:description" content="{% if blog.body %}{{blog.body|striptags|truncatechars:200}}{% else %}{% endif %}">
<style>
   .content li{
        text-align:left;
    }
</style>
{% endblock head %}

{% block body %}
<div class= "container" style="max-width:900px;">
<div class="container content">

    <div class="my-1">
        <h1 style="display: inline;">{{blog.title}}</h1>
        <p style="display: inline;"><small>({{blog.category}})</small></p>
        <p><small>Last updated {{blog.updated_on}}</small></p>
        {% if blog.author == request.user %}
        <a href="{% url 'updatepost' blog.slug%}">[update]</a>
        {% endif %}
        {% if user.is_superuser%}
        <a href="{% url 'deletepost' blog.slug%}">[delete]</a>
        {% endif %}
    </div>
    
    <img class="img-fluid" src="{{blog.img.url}}" alt="{{blog.title}}" style="width:100%;">
    <hr>
    <div>{{blog.body | safe}}</div>
    
    <p><b>-Created by <a href="#">{{blog.author|upper}}</a></b></p>
</div>
  <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Comments</h5>
            {% for comment in comments %}
                <div class="mb-3">
                    <p>{{ comment.text }}</p>
                    <p class="text-muted">By {{ comment.author }} on {{ comment.created_at }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add a Comment</h5>
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="btn btn-primary">Post Comment</button>
                </form>
            </div>
        </div>
    <div class="mt-4">
        <h5 class="card-title">Related Posts</h5>
        <div class="row">
            {% for related_post in related_posts %}
                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ related_post.title }}</h5>
                            <p class="card-text">{{ related_post.body|truncatewords:20 }}</p>
                            <a href="{% url 'detail' slug=related_post.slug %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div> 
</div>
{% endblock body %}

