{% extends "blog/main.html" %}
{% block title %}Home{% endblock title %}

{% block head %}
<meta name="keywords" content="admoha,admoha.com,blog">
<meta name="description" content="Discover Admoha.com, your seamless blogging solution. With BlogEase, writers of all levels can effortlessly express themselves, share thoughts, and engage with a vibrant community. Effortlessly create, publish, and manage blog posts anytime, anywhere, with Admoha.com's intuitive interface.">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta property="og:site_name" content="https://www.admoha.com">
<meta property="og:title" content="Admoha">
<meta property="og:type" content="blog">

<style>
  .jumbotron {
    background-image: url('/media/background/home.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    /* Text color */
    position: relative;
    overflow: hidden;
    z-index: -1;
    padding: 100px 40px;
    /* Hide overflow for dim effect */
  }

  /* Style for dim effect */
  .dim-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    /* Adjust the opacity for dim effect */
  }

  .text-light {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
    /* Adjust the opacity for lighter text */
    font-size: 1.5rem;
    font-weight: 500;
  }

  .lead {
    font-size: 1rem;
    font-weight: 400;
  }

  .wraper {
    display: none;
  }
  #showmore-btn{
	display:block;
  }
</style>
{% endblock head %}

{% load static %}
{% block body %}
<div class="jumbotron jumbotron-fluid mb-2">
  <div class="dim-overlay"></div>
  <div class="container text-center">
    <h1 class="display-4 text-light">Welcome to Our Website</h1>
    <p class="lead text-light">Discover Admoha.com, your seamless blogging solution. With BlogEase, writers of all
      levels can effortlessly express themselves, share thoughts, and engage with a vibrant community. Effortlessly
      create, publish, and manage blog posts anytime, anywhere, with Admoha.com's intuitive interface.</p>
  </div>
</div>

<div class="container mt-2" data-bs-theme="dark">
  <div class="row mb-2">
    <div class="col-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          {% if user.is_authenticated %}
          <h5>Create a Post now</h5>
          <a class="btn btn-info my-2" href="{% url 'createpost' %}" class="text-light">Create a Post</a>
          {% else %}
          <h5>Create an Account now</h5>
          <a class="btn btn-info my-2" href="{% url 'login' %}" class="text-light">Login</a>
          <a class="btn btn-primary my-2" href="{% url 'signup' %}" class="text-light">Signup</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- body section card 2 -->
{% if posts %}
<div class="container">
  <h2>Recent Posts</h2>
  <div class="row">
    {% for post in posts %}
    <div class="col-lg-4 col-md-6 col-sm-12 my-3 wraper">
      <a href='{% url "detailview" post.slug %}'>
        <div class="card shadow-sm">
          <img src="{{ post.img.url }}" alt="{{ post.title }}" class="img-fluid" style="height:230px;">
          <div class="card-body">
            <h2 class="card-text">{{ post.title }}</h2>
            <small class="text-body-secondary pb-3">({{ post.category }})</small>
            <small class="text-body-secondary pb-3">Created by - {{ post.author }}</small>
            <p class="card-text">{{ post.body|safe|truncatechars:90 }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-body-secondary">{{ post.created_at }}</small>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <button class="btn btn-primary btn-sm mx-auto my-3" id="showmore-btn">more</button>
</div>
{% endif %}
<hr>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    var visiblePosts = 6;
    var increment = 6;
    var totalPosts = {{ posts.count }};
    
    // Function to display posts
    function displayPosts() {
      $('.wraper').hide(); // Hide all posts
      $('.wraper').slice(0, visiblePosts).show(); // Show the first 'visiblePosts' posts
    }
    
    // Function to load more posts
    function loadMorePosts() {
      visiblePosts += increment;
      displayPosts();
      
      // Hide the load more button if all posts are visible
      if (visiblePosts >= totalPosts) {
        $('#showmore-btn').hide();
      }
    }
    
    // Load more posts when the load more button is clicked
    $('#showmore-btn').on('click', function() {
      loadMorePosts();
    });
    
    // Initial display of posts
    displayPosts();
  });
  
</script>
{% endblock body %}
