
{% extends "blog/main.html" %}
{% block body %}
<div class="container col-lg-6 col-md-8 col-sm-12  pb-5 my-5">
  <main class="form-signin w-100 m-auto">
    <h1 class="h1 mb-5 text-center">Admoha.com</h1>
    <form method= "POST">
      {% csrf_token %}
      <h1 class="h2 mb-3 fw-normal">Welcome back, Login</h1>
  
      <div class="form-floating m-1">
        <input type="text" class="form-control" id="{{form.username.name}}" placeholder="Username" name="{{form.username.name}}" value="{{form.username.value}}"> 
        <label for="{{form.username.id_for_label}}">Username</label>
        <span>{{form.username.errors}}</span>
    </div>
    <div class="form-floating m-1">
        <input type="password" class="form-control" id="{{form.password.name}}" placeholder="Password" name="{{form.password.name}}" value="{{form.password.value}}" >
        <label for="{{form.password.name}}">Password</label>
        <span>{{form.password.errors}}</span>
    </div>

      <button class="btn btn-primary w-100 py-2 my-3" type="submit">Log in</button>
    </form>
    <a href="/signup">Already have an account.</a>
  </main>
</div>
{% endblock body %}
