{% extends "blog/main.html" %}

{% block title %}{{author}} posts{% endblock title %}

{% block body %}
{% if author_posts %}
<div class="container">
  <h2>your posts</h2>
  <div class="row">
    {% for post in author_posts%}
    <div class="col-lg-4 col-md-6 col-sm-12 my-3 ">
            <a href = {% url "detailview" post.slug%}>
            <div class="card shadow-sm">
              <img src="{{post.img.url}}"
                alt="{{post.img.url}}">
              <div class="card-body">
                <h2 class="card-text">{{post.title}}</h2>
                <small class="text-body-secondary pb-3">({{post.category}})</small>
                <small class="text-body-secondary pb-3">Created by -{{post.author}}</small>
                <p class="card-text">{{post.body | safe |truncatechars:155}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-body-secondary">{{post.created_at}}</small>
                </div>
              </div>
            </div>
          </a>
          </div>
          {% endfor %}
        </div>
      </div>
{% else %}
<div class="container " style = 'margin:100px auto;'>
  <div class="container">
    <div class="row mb-2">
  
      <div class="col-md-12 p-4">
        <div class="row g-0 border rounded flex-md-row mb-4 shadow-sm h-md-250 position-relative" style=' background-color: #e5f4ff;'>
          <div class="col p-4 d-flex flex-column position-static">
            
            <h3 class="mb-0">New user?</h3>
            <p class="card-text mb-auto p-4">

              Welcome to Admoha.com! Creating posts is a breeze. Just head to the 'Create Post' section, craft your content, add media, and hit 'Publish'. Share your unique informations, stories and perspectives with our community!</p>
            <a href="{% url "createpost" %}" class="icon-link gap-1 px-4 icon-link-hover stretched-link">
            Create a post now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 
</div>   
{% endif %}
{% endblock body %}
